<header>
    <select ng-model="bundle.locale" ng-options="locale.value as locale.name for locale in locales"></select>
</header>

<!-- fetch the `hero-unit` bundle and apply the current scope prefixed with `bundle.` (default) -->
<div class="hero-unit" locale-bundle="hero-unit">
    <h1>{{ bundle.greeting }}</h1>

    <p>{{ bundle.numbersLabel }}</p>
    <ul>
        <li ng-repeat="number in numbers">{{number}}</li>
    </ul>

    <h3>{{ bundle.enjoy.coding }}</h3>
</div>

<!-- fetch the `footer` bundle and apply the current scope prefixed with `_t.` -->
<footer locale-bundle="footer as _t">
    <select ng-model="_t.locale" ng-options="locale.value as locale.name for locale in locales"></select>
    <p>
        <small>{{ _t.copyright }}</small>
    </p>
</footer>
